__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.bsuuid
.bsac2
dist/ba_root/mods/playersdata/*.json*
dist/ba_root/mods/serverdata/*.log
dist/ba_root/mods/serverdata/*.log*
dist/ba_root/mods/serverdata/*.json
dist/ba_root/mods/stats/*.json

.DS_Store
BombSquad_Server_Linux_Arm64_1.7.61/
